%h1 Enterprise Voting System - The best way to have your voice heard

%button= link_to "Employees Sign In here", new_employee_session_path
%p= link_to "Don't have an account? Sign up here", new_employee_registration_path
%p= link_to "See a full list of Questions (loaded with backbone.js)", questions_path
