<h1>Edit question</h1>

<form id="edit-question" name="question">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field textbox">
    <label for="body"> body:</label>
    <textarea name="body" id="body" value="<%= body %>" />
  </div>

  <div class="field textbox">
    <label for="answer"> answer:</label>
    <textarea name="answer" id="answer" value="<%= answer %>" />
  </div>

  <div class="actions">
    <input type="submit" value="Update Question" />
  </div>

</form>

<a href="#/index">Back</a>
