<h1>All Questions</h1>

<table id="questions-table">
  <tr>
    <th>Title</th>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Question</a>
